<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736640477428-djkernp722qnfjsbfo2c1pbf92p75lit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736640477428-djkernp722qnfjsbfo2c1pbf92p75lit</string>
	<key>API_KEY</key>
	<string>AIzaSyBbpBlQMcJApUbNLN8FdTEBtigHD3OTjAI</string>
	<key>GCM_SENDER_ID</key>
	<string>736640477428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yourart</string>
	<key>PROJECT_ID</key>
	<string>your-art-6e9e7</string>
	<key>STORAGE_BUCKET</key>
	<string>your-art-6e9e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736640477428:ios:0c6125dda71ce39ac756a1</string>
</dict>
</plist>